@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffdce2;
}

/* Establecer el contenedor principal como una cuadrícula */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    
}

.item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.welcome {
    padding: 20px;
    background-color: #ffc0cb;
}

.welcome h1 {
    text-align: center;
    color: #bf5768;
    margin: 0;
    font-weight: 900;
}

.welcome p {
    font-weight: 500;
    color: white;
    font-size: 20px;
}

.audio {
    /* Estilos para los controles de audio personalizados */
    background-color: #ffc0cb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio::-webkit-media-controls-panel {
    /* Estilos para los controles de audio personalizados en WebKit */
    background-color: #ffc0cb;
    border-radius: 8px;
}

.audio::-webkit-media-controls-play-button,
.audio::-webkit-media-controls-pause-button {
    /* Estilos para los botones Wde reproducción y pausa en WebKit */
    background-color: #bf5768;
    color: white;
    border-radius: 50%;
}

.audio::-webkit-media-controls-volume-slider {
    /* Estilos para el control de volumen en WebKit */
    background-color: #f8f8f8;
    border-radius: 8px;
    height: 6px;
}

.audio::-webkit-media-controls-volume-slider::-webkit-slider-thumb {
    /* Estilos para el control deslizante de volumen en WebKit */
    background-color: #bf5768;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

/* Ajustar el tamaño de los elementos en función del ancho de la pantalla */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}